<div class="wrap">
  <div id="contact" class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-5">
        <h1>About Us...</h1>
        ©Eazy-Tickets.com All rights reserved
        <img src="../../assets/images/150695045323254.png" />
        <p>Contact us and we'll get back to you within 24 hours.</p>

          We are located at Lod, Israel in Telrad Offices.
          Tickets printing can be performed here in extra charge. 
          Further details in the phone/email below.
          <br><br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d503.2301656447934!2d34.890601951772936!3d31.952335416164733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc5c5043db367e9c0!2z15jXnNeo15M!5e0!3m2!1siw!2sil!4v1504620757155"
          width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe><br><br>
          
        <p><span id="map" class="glyphicon glyphicon-map-marker"></span> Bat Sheva 3 Lod, IL</p>
        <p><span id="phone" class="glyphicon glyphicon-phone"></span> +972 3-642-42-42</p>
        <p><span id="mik" class="glyphicon glyphicon-envelope"></span> Tech@Career.com</p>
      </div>
    </div>
  </div>
</div>