
<h1>Users</h1>
  <div  *ngIf= "!loadOk" class="Ids-css ng-scope"> 
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Email</th>
        <th>Role</th>
        <th>Delete</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of arUser">
        <td>{{item.Email}}</td>
        <td>{{item.Role}}</td>
        <td (click)="Delete(item)" [style.cursor]="(mouseover)?'default':'pointer'">Delete</td>

      </tr>
    </tbody>
  </table>
</div>
<iframe width="560" height="315" src="https://www.youtube.com/watch?v=8HY9Vjd5-q4" frameborder="0" allowfullscreen></iframe>

  <button   class="btn btn" style="color:white;"(click)="show=!show">{{show ? 'Nev Event' : 'Nev Event'}}</button>
  <div *ngIf="show" id="comment">

    <br>
 <p class="comment-form-comment">
    <label for="Name" style="color:white;">Name</label><br>
  <input id="Name" name="Name" type="text" class="form-control" required [(ngModel)]="Name" 
  style="color:black; margin: 0px;  text-align: right; width: 50%; height: 10%; border-radius:4px; outline:none; resize: none;" /><br>


  <label for="Location" style="color:white;">Location</label><br>
  <input id="Location" name="Location" type="text" class="form-control" required [(ngModel)]="Location"
  style="color:black; margin: 0px;  text-align: right; width: 50%; height: 10%; border-radius:4px; outline:none; resize: none;" /><br>

   <label for="Length" style="color:white;">Length</label><br>
  <input id="Length" name="Length" type="text" class="form-control" required [(ngModel)]="Length" 
  style="color:black; margin: 0px;  text-align: right; width: 50%; height: 10%; border-radius:4px; outline:none; resize: none;" /><br>

     <label for="Genre" style="color:white;">Genre</label><br>
  <input id="Genre" name="Genre" type="text" class="form-control" required [(ngModel)]="Genre" 
  style="color:black; margin: 0px;  text-align: right; width: 50%; height: 10%; border-radius:4px; outline:none; resize: none;" /><br>


  <label for="Date" style="color:white;">Date</label><br>
  <input id="Date" name="Issue" type="text" class="form-control" required [(ngModel)]="Date"
  style="color:black;  margin: 0px;  text-align: right; width: 50%; height: 10%; border-radius:4px; outline:none; resize: none;" /><br>

 <button  class="btn btn" style="color:black" (click)="clickHandlerPost()">Post</button>
</div>