/* .profile-area img {
  max-width: 150px;
  margin-bottom: 20px;
}

.panel-body h3 {
  margin-top: 0;
}
#pro{
align:right;
margin: auto;
 text-align: center; 
}
input{
   left: 25%;
}
  .jumbo{
       left: 25%;
       text-align: center; 
       margin: auto;
       margin-left: 398px;
  } */