<h1>Welcome To Eazyticket</h1><br><br>

<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="../assets/images/concert_crowd-wallpaper-1920x1080.jpg" />
    </div>
    <div class="item">
      <img src="../assets/images/concert_hands_in_the_air-wallpaper-1920x1080.jpg" />
    </div>
    <div class="item">
      <img src="../assets/images/concert-wallpaper-1920x1080.jpg" />
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
</div>
    <div id="disqus_thread"></div>

                            
<div>
  <div class="wrap">
    <i class="fa fa-quote-left fa-3x fa-pull-left fa-border" aria-hidden="true"></i>
  <div class="container">
    <h3>Reviews</h3>
    <blockquote>
      <h4>Yediot Achronot</h4>
      <footer>
        <h5>Smadar Shiloni</h5><cite title="Source Title"><a style="font-size: 14px">"Providing constant quality events"</a></cite></footer>
    </blockquote>
    <blockquote>
      <h4>Washington Post</h4>
      <footer>
        <h5>Ami Fridman</h5><cite title="Source Title"><a style="font-size: 14px">"Excellent Customer Service"</a></cite></footer>
    </blockquote>
    <blockquote>
      <h4>Telegraph Daily</h4>
      <footer>
        <h5>Dominic Cavendish</h5><cite title="Source Title"><a style="font-size: 14px">"Quick response, Tickets arrived after only 2 days"</a></cite></footer>
    </blockquote>
  </div>
  </div>
</div>