<div class="wrap">
  <div id="contact" class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-5">
        <h1>Our Policy</h1><br>

        <img src="../../assets/images/150875092676669.png" /><br><br>
        <b>Return Policy</b>
        <ul>
        <li>You can return a ticket 24 days before the event date applies with a cancellation fine.</li>
        <li>Cancellation fee is about 20% from the original designated item price.</li>
        </ul>
      <b>Site Policy</b>
      <ul>        
        <li>No curse words, No double messages and No harrasing other users </li>
        <li>Not following our site rules will lead us to ban you from the site</li>
      </ul>
      <br><br><br><br><br><br><br><br>

      </div>
    </div>
  </div>
</div>